@font-face {
    font-family: 'Merriweather-Bold';
    src: url(/Fontes/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-Black';
    src: url(/Fontes/Raleway/static/Raleway-Black.ttf);
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url(/Fontes/Raleway/static/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url(/Fontes/Raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url(/Fontes/Raleway/static/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(/Fontes/Raleway/static/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(/Fontes/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url(/Fontes/Raleway/static/Raleway-Italic.ttf);
}

@font-face {
    font-family: 'Raleway-Light';
    src: url(/Fontes/Raleway/static/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Raleway-ExtraLight';
    src: url(/Fontes/Raleway/static/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url(/Fontes/Raleway/static/Raleway-Thin.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/* Barra-de-navegação */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.99);
    z-index: 10000;
    box-shadow: 2px 2px 20px 5px rgba(117, 117, 117, 0.2);
}


header img {
    height: 60px;
    padding-left: 20px;
}

nav {
    display: flex;
    justify-content: left;
    padding-left: 7%;
    align-items: center;
    flex: 1;
}

nav :hover {
    color: #ED6935;
    transition: 0.2s;
}

nav a {
    padding: 0 30px;
    font-family: 'Raleway-SemiBold';
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}

header button {
    margin-right: 70px;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #ED6935;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 160px;
    transition: background-color 0.3s ease;
}

header button i {
    padding: 0 10px
}

header button:hover {
    background-color: #636262;
    color: white;
}


/* Estilo-Nossa-História */
.header-contatos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.93);
    transition: background-color 0.3s ease;
    z-index: 10000;
}

.banner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-image: url(/Mídia/Fotos/insta3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner>div {
    margin-top: 80px;
    position: relative;
    z-index: 1;
}

.banner h1 {
    text-align: center;
    font-size: 3.2rem;
    color: #fff;
    font-family: 'Merriweather-Bold';
    padding-bottom: 20px;
}

.banner h1 span{
    color: #ED6935;
}

.banner p {
    font-size: 1rem;
    text-align: center;
    font-family: 'Raleway-Medium';
    color: #fff;
}

.banner i {
    color: #fff;
    font-size: 3.5rem;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 10%;
}

.banner i:hover {
    color: #ED6935;
    transition: 0.3s;
}

/* Textos */
.textos{
    margin: 5% 10%;
}

.textos h2{
    font-family: 'Raleway-Bold';
    padding-bottom: 2%;
}

.textos p{
    font-family: 'Raleway-Regular';
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* Footer */
footer {
    background-color: #702E9F;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 200px;
    padding-bottom: 4%;
}

footer i {
    color: white;
    font-size: 2rem;
    padding: 0 40px;
    margin-bottom: 10%;
}

footer h6 {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Raleway-Thin';
    margin-top: 20px;
}
